<html>
    <head>
        <title><%= locals.user ? "HomePage" : "Log In" %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% if(locals.user) { %>
            <%- include("./templates/dashboard.ejs") %>
        <% } else { %>
            <%- include("./templates/log-in-page.ejs") %>
        <% } %>
    </body>
</html>